.buttons-grid {
  background: pink;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 5px 0px;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "AC AC . ."
    ". . . ."
    ". . . ."
    ". . . EQ"
    "Z Z . EQ";
  align-items: center;
  justify-items: center;
  align-content: stretch;
}

.button-ac {
  grid-area: AC;
}

.button-zero {
  grid-area: Z;
}

.button-equal {
  grid-area: EQ;
}
