.display {
  //background: #e2edfb;
  //border-style: solid;
  //border-width: 1px;
  //border-color: #888f9c;
  color: white;
  // margin: 5px 5px;
  padding: 36px 16px;
  text-align: end;
  word-break: break-word;
}
